body {
  background-color: rgb(255, 255, 255);
  font-family: 'Salsa', cursive;
}

.all {
  border: solid;
  margin: 20px;
}

.maintitle {
  text-align: center;
  border: solid;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 3px 3px 2px rgb(96, 95, 95);
}

.leaderboard {
  display: flex;
}

.refreshBtn {
  border: solid;
  margin-top: 20px;
  margin-bottom: 25px;
  width: 25%;
  line-height: 20px;
  background: #fff;
  box-shadow: 3px 3px 2px #000;
  animation: wiggle 2s linear infinite;
}

@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ('-15deg');
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(0);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}

.scores {
  padding-left: 20px;
  padding-right: 10px;
  font-size: 20px;
}

.leaderboardscores {
  padding-left: 20px;
  border: solid;
  margin-right: 80px;
  margin-left: 20px;
  margin-bottom: 60px;
}

ul {
  list-style-type: none;
  height: 200px;
  overflow-y: scroll;
}

form {
  display: flex;
  flex-direction: column;
  line-height: 10px;
}

.formtitle {
  padding-left: 20px;
  font-size: 20px;
  font-weight: 600;
  animation: float 3s ease-in-out infinite;
}

  @keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

#name,
#score {
  font-weight: 600;
  font-style: italic;
  border: solid;
  margin-left: 20px;
  margin-bottom: 15px;
  border-radius: 3px;
  width: 60%;
  line-height: 20px;
}

.submitBtn {
  border: solid;
  margin-left: 20px;
  margin-bottom: 15px;
  width: 25%;
  line-height: 20px;
  background: #fff;
  box-shadow: 3px 3px 2px #000;
  animation: wiggle 2s linear infinite;
}

@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ('-15deg');
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(0);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}
